#appBar {
  background-image: url("../assets/appBar.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #333;
}

.appTitle {
  margin-left: 13%;
}

.appBtn {
  margin-left: 1rem !important;
}